.active {
  text-decoration: underline;
  text-decoration-color: #58a6ff;
}
.navlink,
.navlink:hover {
  color: #58a6ff;
  text-decoration: none;
  font-size: 13px !important;
}
.navbar {
  background-color: #424242;
  height: 64px;
  padding-left: 28px !important;
  padding-right: 25px !important;
}
.navbtn {
  font-size: 13px !important;
  text-decoration: none;
  background-color: rgba(201, 209, 217, 0.08);
  color: #c9d1d9;
  border: 1px solid rgba(255, 255, 255, 0.23) !important;
  padding: 7px 14px !important;
}
