body {
  font-family: IBM Plex Mono, monospace !important;
  background-color: #0d1117 !important;
  font-size: 0.875rem !important;
}
.subheading {
  font-size: 14px !important;
  font-weight: 400;
}
button {
  font-family: IBM Plex Mono, monospace !important;
}
.btn-text {
  font-size: 0.875rem !important;
}
.page1,
.reviewsPage,
.cardPadding {
  padding: 10px 8%;
}
.cardContainer {
  /* padding: 10px 0; */
}
.btn {
  background: none;
}
.button:focus {
  outline: none !important;
}
.comment {
  letter-spacing: 0.01rem !important;
  word-spacing: 0.01rem;
  color: #c9d1d9;
  padding: 10px 10px;
  line-height: 1.43;
  font-family: Roboto, sans-serif;
}

.about-us {
  padding: 0 25%;
}
.we {
  margin-right: 55%;
}
.reviewColor {
  background-color: #424242;
}
.authorUrl,
.chapterLink,
.chapterLink:hover,
.authorUrl:hover,
.builderbook,
.builderbook:hover,
.saas,
.saas:hover {
  color: #58a6ff;
  text-decoration: none;
}
.navbtn {
  font-size: 14px !important;
  text-decoration: none;
  background-color: rgba(201, 209, 217, 0.08);
  color: #c9d1d9;
  border: 1px solid rgba(255, 255, 255, 0.23);
  padding: 10px 15px;
}
.navbtn {
  padding: 5px 15px;
}
.authorsPadding {
  padding-bottom: 80px;
}
.footerRow {
  background-color: #424242;
  height: 64px;
}
.reviewsHeading {
  text-align: center;
  font-weight: 400;
  line-height: 60px;
  font-size: 44px;
}
.cardWidth {
  padding: 10 8%;
}
