body {
  font-family: "IBM Plex Mono", monospace !important;
  background-color: #0d1117 !important;
  font-size: 0.875rem !important;
}
.btn-text {
  font-size: 0.875rem !important;
}
.page1,
.booksData {
  padding: 10px 8%;
}
.cardContainer {
  /* padding: 10px 0; */
}
.btn {
  background: none;
}
.button:focus {
  outline: none !important;
}
.comment {
  letter-spacing: 0.01rem !important;
  word-spacing: 0.01rem;
  padding: 20px 10px;
  font-family: Roboto, sans-serif;
}

.about-us {
  padding: 0 25%;
}
.we {
  margin-right: 55%;
}
